.elementcard{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
margin-bottom: 12px;
}
.elementparent{
    margin: 0 auto;
    }

.elementimg{
  margin: 0 auto;


}
.elementcartinfo{
  display:ruby-text-container;
 
font-family: valorant;
 color: rgb(0, 106, 118);
 opacity: 1;
}